{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div 
    style="margin-top: 150px;"
    class="container">
    <div class="row">
    <div class="col-6">
            <img style="height: 400px;width:500px; object-fit:cover;"  src="{{ data.image.url}}" alt="">

    </div>
    <div class="col-6">
        <a class="d-block h5 mb-2" href="" style="font-weight: bold;font-size: 100px   ;">{{ data.name }}</a>
    <span class="text-primary me-1"style="font-size: 50px;">${{ data.offer_price }}</span>
    <p style="color: red;"><del>${{ data.price }}</del></p>
    <button type="add to cart">add to cart</button>
    <button type="buy now">buy now</button>

    </div>
    

    </div>                          
</div>






{% endblock %}