{% extends 'base.html' %}


{% block content %}
<div style="margin-top: 150px;">

<h1>Sign Up</h1>

<form method="post" action="" >


<input type="First name"placeholder="First Name" name="Firstname"><br>
<input type="Last name"placeholder="Last Name" name="Lastname"><br>
<input type="User name"placeholder="Username" name="Username"><br>
<input type="Email"placeholder="Email" name="Email"><br>
<input type="Password"placeholder="Password" name="Password"><br>
<input type="Confirm Password"placeholder="Confirm Password" name="ConfirmPassword"><br>
<button type="submit">Sign Up</button >

</form>

</div>
{% endblock %}